.tag-box {
  display: flex;
  border: 3px solid var(--dark-color);
  flex-wrap: wrap;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  width: fit-content;
  height: 40px;
  margin-left: 10px;
  padding: 0 5px;
  border-radius: 15px;
  border: 2px solid var(--theme-color);
  font-size: 16px;
  display: flex;
  align-items: center;
}
.tag-input {
  display: block;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  text-indent: 10px;
  color: var(--main-color);
}
.tag-remove-btn {
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: var(--main-color);
  margin-left: 10px;
}
